# Visual Studio
.vscode/
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates

# Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/

# NuGet
*.nupkg
*.snupkg
packages/
# Include if you have NuGet Package Restore enabled
!packages/*.md
# Uncomment if necessary however generally it will be regenerated if needed
#!packages/repositories.config

# Rider
.idea/
*.sln.iml

# User-specific files
*.rsuser
*.sln.dotsettings
